In [2]:
import pandas as pd
from scipy import stats

In [3]:
cars = pd.read_csv("Cars.csv")

In [4]:
cars

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [8]:
cars_mean = cars["MPG"].mean()

In [9]:
cars_std = cars["MPG"].std()

In [30]:
x1 = 1-stats.norm.cdf(38,cars_mean,cars_std)

In [31]:
x1
#greater than 38

0.34759392515827137

In [32]:
x2 = 1-stats.norm.cdf(40,cars_mean,cars_std)

In [33]:
x2
# greater than 40

0.2706501237848391

In [34]:
x3 = 1-stats.norm.cdf(20,cars_mean,cars_std)

In [35]:
x3
#greater than 20

0.9428762236788408

In [36]:
x4 = 1-stats.norm.cdf(50,cars_mean,cars_std)

In [37]:
x4
<less than 50

0.04400730671063613